@import '../theme.scss';

%clients {
    color: $colorLightest;

    .title {
        margin-bottom: 2rem;

        @extend %mobile;

        h2 {
            @extend %headline;
        }
        > p {
            @extend %subhead;
        }
    }

    .content {
        grid-area: left;
        grid-row: 2;

        @extend %mobile;

        .logos {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2rem;

            @media (min-width: $breakpointSmall) {
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 2rem;
            }

            @media (min-width: $breakpointSm) {
                grid-template-columns: repeat(6, 1fr);
                grid-column: span 2;
                padding-top: 2rem;
                padding-bottom: 2rem;
            }

            > div {
                display: flex;
                align-items: center;
                justify-content: center;

                @media (min-width: $breakpointSmall) {
                    justify-content: flex-start;
                }

                > img {
                    max-width: 8rem;
                    height: auto;
                }

                > svg {
                    height: 60px;
                    width: auto;
                }
            }
        }
    }
}
