@import '../theme.scss';

%contact {
    position: relative;

    .wrapper {
        display: grid;
        grid-column-gap: 6rem;
        grid-template-areas:
            'title'
            'details'
            'content';
        @media (min-width: $breakpointSm) {
            grid-template-columns: 2fr 1fr;
            grid-template-areas:
                'title title'
                'content details';
        }

        @media (min-width: $breakpointMedium) {
            grid-column-gap: 8rem;
        }

        @extend %mobile;
    }

    div.title {
        grid-area: title;
        padding: 0;

        margin-bottom: 2rem;

        @extend %mobile;

        h2 {
            @extend %headline;
        }
        .rich-text > p {
            @extend %subhead;
        }

        &.upper h2 {
            text-transform: uppercase;
        }
    }

    .content {
        grid-area: content;
    }

    .form {
        order: 2;

        @media (min-width: $breakpointSm) {
            margin-right: 4rem;
        }

        form {
            display: grid;
            grid-template-columns: 1fr;

            @media screen and (-ms-high-contrast: active),
                screen and (-ms-high-contrast: none) {
                display: -ms-flexbox;
                -ms-flex-direction: column;
            }

            input,
            textarea {
                width: 100%;
            }

            input[type='checkbox'] {
                width: initial;
            }

            grid-column-gap: 1rem;
            grid-row-gap: 1.25rem;

            div.recaptcha-wrapper {
                overflow: hidden;

                > div {
                    transform: scale(0.9);
                    transform-origin: 0 0;
                }
            }

            @media (min-width: $breakpointSm) {
                grid-template-columns: 1fr 1fr;
                order: 1;

                div.recaptcha-wrapper {
                    grid-column: span 2;

                    > div {
                        transform: none;
                    }
                }
            }

            label {
                font-size: $fontSize14;
                line-height: $lineHeight24;

                a {
                    font-size: $fontSize14;
                    @extend %content-link;
                }
            }

            textarea,
            textarea:focus {
                min-height: 6rem;
            }

            .large {
                @media (min-width: $breakpointSm) {
                    grid-column: span 2;
                }
            }
        }
    }

    .details {
        grid-area: details;
        position: relative;
        width: 100%;
        order: 1;

        margin-top: 4rem;
        margin-bottom: 2rem;

        @media (min-width: $breakpointSm) {
            order: 2;
            margin: 0;
        }

        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;

        .overlay {
            z-index: 3;
            color: $colorDarkest;
            text-align: center;

            @media (min-width: $breakpointSm) {
                margin-right: 2rem;
                margin-top: 60px;
            }
            @media (min-width: $breakpointMedium) {
                margin-right: 4rem;
            }

            width: 100%;
            padding: 0 0 2rem 0;

            background-color: $colorLightest;
            box-shadow: $shadow;

            > div {
                font-size: $fontSize16;
                line-height: $lineHeight28;
            }

            strong {
                font-size: $fontSize16;
                line-height: $lineHeight28;
                text-transform: uppercase;
            }

            ul {
                margin: 2rem 0 1rem 0;
                padding: 0;
                list-style-type: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                li {
                    font-size: $fontSize14;
                    line-height: $lineHeight24;
                    text-transform: uppercase;
                    font-weight: $fontWeightBold;
                    display: flex;
                    align-items: center;

                    & + li {
                        margin-top: 16px;
                    }
                }
            }
        }

        img {
            position: relative;
            border-radius: 50%;
            transform: translateY(-50%);
            box-shadow: $shadow;
            margin-bottom: -2rem;
            max-width: 120px;
            max-height: 120px;
            object-fit: cover;
        }

        .avatar-placeholder {
            height: 3rem;
        }

        .iconlink {
            color: $colorDarkest;
            transition: $transitionDefault all;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;

            > svg {
                margin-right: 0.5rem;
            }

            &.light {
                color: $colorLightest;
            }

            &:hover {
                color: $colorPrimary;

                > svg {
                    color: $colorPrimary;
                }
            }
        }
    }
}
