@import '../theme.scss';

%textIconTeaser {
    display: flex;
    padding: 2rem;

    flex-direction: column;
    @media (min-width: $breakpointSm) {
        flex-direction: row;
    }

    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        position: relative;
        flex-grow: 1;
        flex-basis: 100%;

        .icon {
            width: 86px;
            height: 86px;
        }

        .text {
            text-align: center;
            margin-top: 1rem;
        }

        svg {
            color: $colorPrimary;
            width: 100%;
            height: 100%;
        }

        h3 {
            font-weight: $fontWeightBold;
            line-height: $lineHeight28;
            font-size: $fontSize16;
            text-transform: uppercase;
            position: relative;
            margin: 0;
        }

        p {
            font-size: $fontSize16;
            line-height: $lineHeight28;
            text-align: center;
            margin: 0;
        }

        &::after {
            content: '';
            position: absolute;
            background-color: $colorGray;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
        }

        @media (min-width: $breakpointSm) {
            &::after {
                right: 0;
                top: 0;
                left: auto;
                bottom: auto;
                height: 100%;
                width: 1px;
            }
        }

        &:last-child::after {
            content: none;
        }
    }
}