@import '../theme.scss';

%header {
    padding: 0 1rem;
    background: $colorLightest;

    .header-content {
        width: 100%;
        height: 5rem;
        max-width: $contentMaxWidth;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav-items {
            display: flex;
            align-items: center;
            height: 100%;

            .item {
                height: 100%;
                padding: 0 1rem;

                font-size: $fontSize14;
                text-transform: uppercase;
                text-decoration: none;
                font-weight: $fontWeightDefault;

                > span {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    cursor: pointer;
                    box-sizing: border-box;
                    transition: all $transitionDefault ease;
                    color: $colorDarkest;

                    &::after {
                        content: '';
                        bottom: 0;
                        left: 0;
                        right: 0;
                        position: absolute;
                        background-color: $colorPrimary;
                        width: 100%;
                        height: 6px;
                        transition: $transitionMedium all;
                        transform: scaleX(0);
                    }
                }

                &.active > span,
                &:hover > span {
                    &::after {
                        transform: scaleX(1) !important;
                    }
                }
            }
        }
    }
}
