@import '../theme.scss';

%modal {
    $borderSize: 1px;

    > div {
        &.overlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $colorGrayDark;
            opacity: 0;
            pointer-events: none;
            transition: all $transitionDefault ease-out;
        }

        &.container {
            position: fixed;
            max-width: 40rem;
            top: 50%;
            left: 50%;
            transition: 0.4s all;
            transform: translate(-50%, -50%) scale(1);
            background: $colorLightest;
            color: $colorBlack;
            padding: 4rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            opacity: 0;
            transition: all $transitionDefault ease-out;

            > button {
                &.close {
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    cursor: pointer;
                    border: none;
                    border: 0;
                    background: none;
                }
            }
        }
    }

    &.active {
        > div {
            z-index: 10;

            &.overlay {
                opacity: 0.5;
                pointer-events: initial;
            }

            &.container {
                opacity: 1;
            }
        }
    }
}
