<mjml>
  <mj-include path="./head.mjml" />
  <mj-body background-color="#ffffff">

    <!-- custom header -->
    <mj-section background-color="#F2F2F2">
      <mj-column>
        <mj-text font-family="Montserrat, Helvetica, Arial" font-weight="700" font-size="24px" align="center">Die Kooperation<br />für Ihre Digitalisierung</mj-text>
        <mj-image css-class="header-logo" align="left" width="600px" src="https://www.candylabs.de/bilder/_aeDwIhe_Bh1loCDfi8x5KyaKys=/536/fill-600x100-c0/" href="https://www.candylabs.de/" alt="Candylabs Logo" title="Candylabs" />
      </mj-column>
    </mj-section>
    
    <mj-section>
  <mj-column>
    <mj-text font-family="Montserrat, Helvetica, Arial" align="center">	
      <h1>Vielen Dank für Ihre Teilnahme am Digitalisierungstest!</h1>
     </mj-text>
    <mj-text font-family="Montserrat, Helvetica, Arial" align="center" line-height="20px">	
      <p>Sie haben sich für den exklusiven Marktvergleich angemeldet. Ihre individuellen Daten erhalten Sie kostenlos nach Abschluss unserer Analyse.</p>
      <p>Besuchen Sie unsere Website für mehr zum Thema digitale Geschäftsmodelle:</p>
    </mj-text>
    <mj-button href="https://www.candylabs.de/" font-family="Montserrat, Helvetica, Arial" background-color="#ac4" color="#000" font-weight="700" text-transform="uppercase" border-radius="0">Weiter auf unsere Webseite</mj-button>
      </mj-column>
</mj-section>
    <mj-include path="./footer.mjml" />
  </mj-body>
</mjml>