<mj-section background-color="#F2F2F2">
  <mj-column>
    <mj-image align="left" width="128px" src="https://www.candylabs.de/media/images/candylabs_black_128x26.original.png" href="https://www.candylabs.de/" alt="Candylabs Logo" title="Candylabs" />
  </mj-column>
</mj-section>