@import '../theme.scss';
@import './choices.min.scss';

%form {
    $borderSize: 1px;

    .cl-styled-select {
        height: 100%;
        display: flex;
        align-items: center;
        transition: $transitionDefault all;
        border-bottom: 1px solid $colorGray;

        &.choices[data-type*=select-one]::after {
            transition: $transitionDefault all;
            content: url('/static/svg/toggle-arrow-gray.svg');
            border-style: none;
            width: auto;
            height: auto;
            top: auto;
            right: 1rem;
            margin-top: 0.1rem;
            transition: $transitionDefault all;
            transform-origin: center center;
            transform: scaleY(-1);
        }
        &.choices[data-type*=select-one].is-open {
            &::after {
                content: url('/static/svg/toggle-arrow.svg');
                transform: scaleY(1);
            }
        }

        .choices__list--dropdown {
            border: 0;
            border-top: 1px solid $colorPrimary;

            .choices__list {
                transition: $transitionDefault all;

                .is-highlighted {
                    background-color: transparent;
                    color: $colorPrimary;
                }

                .choices__item {
                    padding: 0.5rem 1rem;

                    &:nth-child(2) {
                        padding-top: 20px;
                    }
                    &:last-child {
                        padding-bottom: 20px;
                    }
                } 

                .choices__placeholder {
                    text-indent: -9999px;
                    height: 0;
                    width: 0;
                    padding: 0;
                }
            }
        }

        &.choices:hover {
            border-bottom: 1px solid $colorDarkest;

            &::after {
                content: url('/static/svg/toggle-arrow.svg');
            }
        }

        > .choices__inner {
            background-color: transparent;
            border: 0;
            border-radius: 0;
            font-size: $fontSize16;
            padding: 0.5rem 1rem 0.1rem 1rem !important;
            min-height: 0;
            vertical-align: baseline;
            transition: $transitionDefault all;

            .choices__placeholder {
                color: $colorGrayDarker;
                font-weight: $fontWeightDefault !important;
                opacity: 1;
            }

            .choices__list--single {
                padding: 0;
            }

            .choices__list--single .choices__item {
                font-weight: $fontWeightBold;
            }
        }
    }

    input[type='radio'],
    input[type='checkbox'] {
        position: absolute;
        top: auto;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
        width: 1px;
        height: 1px;
        white-space: nowrap;

        & + label {
            display: flex;
            align-items: center;
            margin-left: 0.75rem;
            cursor: pointer;

            &::before {
                content: '';
                box-sizing: border-box;
                background-color: transparent;
                border: $borderSize solid $colorGray;
                display: block;
                float: left;
                width: 28px;
                height: 28px;
                vertical-align: top;
                cursor: pointer;
                text-align: center;
                transition: all $transitionDefault ease-out;
                position: relative;
                left: -0.75rem;
                flex-shrink: 0;
            }

            &:hover {
                &::before {
                    border: $borderSize solid $colorDarkest;
                }
            }

            &.smaller::before {
                width: 20px;
                height: 20px;
            }
            &.smallest::before {
                width: 16px;
                height: 16px;
            }
        }
    }

    input[type='checkbox'] + label::before {
        content: '';
        color: rgba($colorPrimary, 0);
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMCAxMS41MjJsMS41NzgtMS42MjYgNy43MzQgNC42MTkgMTMuMzM1LTEyLjUyNiAxLjM1MyAxLjM1NC0xNCAxOC42NDZ6Ii8+PC9zdmc+);
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center -200%;
    }

    input[type='checkbox']:checked + label::before {
        color: $colorLightest;
        background-color: $colorPrimary;
        background-position: center;
    }

    input[type='radio'] + label::before {
        border-radius: 100%;
    }

    input[type='radio']:checked + label::before {
        background-color: $colorPrimary;
        border: 5px solid $colorLightest;
    }

    input,
    textarea,
    input:focus,
    textarea:focus {
        background-color: transparent;
        border: none;
        outline: none;
        font-size: $fontSize16;
        line-height: $lineHeight28;
        font-family: $fontFamilySans;
        font-weight: $fontWeightBold;
        padding: 0.5rem 1rem;
        transition: $transitionDefault all;
        caret-color: $colorPrimary;
        box-sizing: border-box;
    }
    input::placeholder,
    textarea::placeholder {
        color: $colorGrayDarker;
        font-weight: $fontWeightDefault;
    }

    input:required,
    textarea:required {
        box-shadow: none;
    }

    input,
    input:focus {
        border-bottom: $borderSize solid $colorGray;

        &:hover {
            border-bottom: $borderSize solid $colorDarkest;
        }
    }

    input:focus,
    input:focus:hover {
        border-bottom: $borderSize solid $colorPrimary;
    }

    textarea,
    textarea:focus {
        border: $borderSize solid $colorGray;
        min-height: 8rem;

        &:hover {
            border: $borderSize solid $colorDarkest;
        }
    }

    textarea:focus,
    textarea:focus:hover {
        border: $borderSize solid $colorPrimary;
    }
}
