@import '../theme.scss';

%button {
    background: linear-gradient(to left, #aacc44, #35b769);
    color: $colorLightest;
    padding: 0;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: $fontSize14;
    line-height: $lineHeight24;
    font-family: $fontFamilySans;
    font-weight: $fontWeightBold;
    line-height: 0.9rem;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    transition: $transitionDefault all;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);

    @media (min-width: $breakpointSm) {
        white-space: nowrap;
    }

    > span {
        transition: $transitionDefault all;
        display: block;
        padding: 0.75rem 1rem;
        text-align: center;
    }

    &:hover {
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
        transform: translateY(-3px);
    }

    &.primary {
        > span {
            color: $colorLightest;
        }
    }

    &.secondary {
        background: none;
        background-color: #fff;

        > span {
            @include text-gradient(to left, $colorPrimary 50%, #35b769);
        }
    }

    &.disabled,
    &:disabled {
        background-color: $colorGrayLight;
        cursor: default;

        > span {
            opacity: 0.8;
        }

        &:hover {
            box-shadow: $shadow;
        }
    }

    /*fix for ie11, lol*/
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
        line-height: 0 !important;

        &.secondary {
            padding-top: 7px !important;
        }
    }

    /*fix for edge, lol*/
    @supports (-ms-ime-align: auto) {
        &.secondary > span {
            -webkit-text-fill-color: inherit;
        }
    }
}
