@import './variables.scss';

%bold {
    font-weight: $fontWeightBold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Used for the Index / website header */
%heading-1 {
    font-size: 50px;
    line-height: 60px;
    margin: 0;
    @extend %bold;
}

/* Used for Page headers */
%heading-2 {
    font-size: 34px;
    line-height: 55px;
    margin: 0;
    @extend %bold;
}

/* Used by module headers */
%heading-3 {
    font-size: 22px;
    line-height: 32px;
    margin: 0;
    @extend %bold;
}

/* Used by job/blog entries / h3 */
%heading-4 {
    font-size: 20px;
    line-height: 30px;
    margin: 32px 0 20px 0;
    @extend %bold;
}

/* Used by job/blog entries / h4 */
%heading-5 {
    font-size: 18px;
    line-height: 28px;
    margin: 16px 0 0 0;
    @extend %bold;
}

@mixin copy-big {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

%copy-big {
    @include copy-big;
}

@mixin copy-small {
    font-size: 14px;
    line-height: 22px;
    margin: 0;
}

%copy-small {
    @include copy-small;
}

@mixin copy-tiny {
    font-size: 12px;
    line-height: 22px;
    margin: 0;
}

%copy-tiny {
    @include copy-tiny;
}

%link {
    color: $colorDarkest;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    text-decoration: none;
    transition: $transitionDefault color;
    @extend %bold;

    &:hover {
        color: $colorPrimary;
    }
}

%link-tiny {
    @extend %link;
    font-size: 12px;
    line-height: 22px;
}

%headline {
    @extend %heading-3;
    margin: 0 0 20px 0;

    @media (min-width: $breakpointSmall) {
        max-width: 70%;
    }

    @media (min-width: $breakpointSm) {
        max-width: 66.66%;
    }
}

%subhead {
    @extend %copy-big;
    margin: 0;

    @media (min-width: $breakpointSmall) {
        max-width: 70%;
    }

    @media (min-width: $breakpointSm) {
        max-width: 66.66%;
    }
}

@mixin interactive-circles($inherit-position: false) {
    > div {
        position: absolute;
        transform: scale(0);
        border-radius: 50%;
        transition: transform $transitionLong ease;
        will-change: transform;
    }

    .ring-1 {
        @if $inherit-position == false {
            top: 12px;
            left: 19px;
        }
        width: 76px;
        height: 76px;
        border: 1px solid $colorGrayLighter;
        opacity: 0.1;
    }

    .ring-2 {
        @if $inherit-position == false {
            top: 17px;
            left: 24px;
        }
        width: 66px;
        height: 66px;
        border: 1px solid $colorGrayLighter;
        opacity: 0.3;
    }

    .ring-3 {
        @if $inherit-position == false {
            top: 22px;
            left: 29px;
        }
        width: 56px;
        height: 56px;
        border: 1px solid $colorGrayLighter;
        opacity: 0.5;
    }

    .ring-4 {
        @if $inherit-position == false {
            top: 27px;
            left: 34px;
        }
        width: 46px;
        height: 46px;
        border: 1px solid $colorGrayLighter;
        opacity: 0.8;
    }

    .ring-5 {
        @if $inherit-position == false {
            top: 32px;
            left: 39px;
        }
        width: 36px;
        height: 36px;
        border: 1px solid $colorGrayLighter;
    }

    .ring-6 {
        @if $inherit-position == false {
            top: 37px;
            left: 44px;
        }
        width: 26px;
        height: 26px;
        background: linear-gradient(to left, #ac4, #35b769);
        transform: scale(0.5);
        transition: transform $transitionMedium;
    }

    .ring-7 {
        @if $inherit-position == false {
            top: 43px;
            left: 50px;
        }
        width: 14px;
        height: 14px;
        background-color: $colorBodyBackground;
        transition: transform $transitionMedium;
    }
}

@mixin border-gradient($angle, $from, $to, $width) {
    border-left: 0;
    border-right: 0;
    background-image: -webkit-linear-gradient($angle, $from, $to), 
                      -webkit-linear-gradient($angle, $from, $to);
    background-size: 100% $width;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-clip: border-box;
}

@mixin text-gradient($angle, $from, $to) {
    background: linear-gradient($angle, $from, $to);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    /*fix for safari, lol*/
    @media not all and (min-resolution:.001dpcm)
    { @supports (-webkit-appearance:none) {
        -webkit-text-fill-color: initial;
        color: $colorPrimaryGradient;
    }}

    /*fix for ie11, lol*/
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
        background: none;
    }
}

@mixin over-image-gradient($strength: 0.5, $start: 20%, $end: 100%, $direction: to top) {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        $direction,
        rgba(0, 0, 0, $strength) $start,
        transparent $end
    );
    z-index: 2;
    left: 0;
    top: 0;
}

@mixin link-border-animation($hoverColor, $hoverBgColor, $textColor: $colorDarkest, $initialHeight: 3px, $disableTransform: false, $padding: 3px 0) {
    display: inline-flex;
    position: relative;
    z-index: 2;
    transition: $transitionDefault all;
    font-weight: $fontWeightBold;
    text-transform: uppercase;
    line-height: normal;
    padding: $padding;
    text-decoration: none;
    color: $textColor;
    font-size: $fontSize14;
    align-items: center;

    &::after {
        height: $initialHeight;
        background: rgba(#000, 0.3);
        position: absolute;
        display: inline-block;
        content: '';
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: -1;
        transition: $transitionMedium all;
    }

    &:hover {
        color: $hoverColor;

        &::after {
            height: 100%;
        }
    }
}

%hover-svg {
    > svg {
        stroke: $colorLightest;
        color: $colorLightest;
        z-index: 3;
        position: absolute;
        right: 3rem;
        bottom: 1rem;
        width: 1rem;
        height: 1rem;
        transition: $transitionMedium all;
        opacity: 0;
    }

    &:hover {
        > svg {
            opacity: 1;
            right: 1.5rem;
        }
    }
}

%mobile {
    padding: 0 1rem;
    @media (min-width: $breakpointMedium) {
        padding: 0;
    }
}

%desktop {
    margin: 0 auto;
    max-width: $contentMaxWidth;
}

%scrollcontainer {
    .scrollcontainer {
        -webkit-overflow-scrolling: touch;

        overflow-x: scroll;
        @media (min-width: $breakpointMedium) {
            overflow-x: initial;
        }
    }
}

%cross-link {
    @include link-border-animation($colorLightest, $colorGrayDark);

    &.inverted {
        @include link-border-animation(
            $colorLightest,
            $colorLightest,
            $colorLightest
        );

        &::after {
            background: linear-gradient(to left, #ac4, #35b769);
        }
    }

    &::after {
        background: linear-gradient(to left, #ac4, #35b769);
    }
}

%content-link {
    font-size: $fontSize14;
    line-height: $lineHeight24;
    font-weight: $fontWeightBold;
    text-decoration: none;
    color: $colorDarkest;
    text-transform: uppercase;
    transition: $transitionDefault all;

    &:hover {
        color: $colorPrimary;
    }
}
