$colorPrimary: #aacc44;
$colorPrimaryGradient: #35b769;
$colorVentures: #4483ca;
$colorProducts: #f9821d;
$colorCulture: #aa1166;

$colorGradientPrimary: linear-gradient(45deg, #aacc44 0%, #35b769 100%);
$colorGradientVentures: linear-gradient(45deg, #4483ca 0, #204a7a 100%);

$colorGray: #d8d8d8;
$colorGrayDarker: #818181;
$colorGrayDark: #373737;
$colorGrayLight: #f2f2f2;
$colorGrayLighter: #c3c3c3;

$colorLightest: #ffffff;
$colorBlack: #000000;
$colorDarkest: #373737;
$colorError: #c9071a;

$colorBodyBackground: #f2f2f2;

$fontFamilySans: 'Montserrat', sans-serif;
$fontWeightLight: 300;
$fontWeightSmall: 400;
$fontWeightDefault: 400;
$fontWeightBold: 700;

$fontSize14: 14px;
$fontSize16: 16px;
$fontSize18: 18px;
$fontSize22: 1.1rem;
$fontSize27: 1.35rem;
$fontSize32: 1.6rem;
$fontSize36: 1.8rem;
$fontSize50: 2.5rem;

$lineHeight22: 1.1rem;
$lineHeight24: 1.2rem;
$lineHeight28: 1.4rem;
$lineHeight30: 1.5rem;
$lineHeight34: 1.7rem;
$lineHeight37: 1.85rem;
$lineHeight40: 2rem;
$lineHeight46: 2.3rem;

$imageZoom: 1.04;

$shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
$shadowStrong: 0 2px 20px rgba(0, 0, 0, 0.1);
$shadowHover: 0 2px 20px rgba(0, 0, 0, 0.25);

$contentMaxWidth: 66rem;
$contentSmallWidth: 44rem;
$contentArticleWidth: 42rem;

$breakpointTiny: 375px;
$breakpointSmall: 640px;
$breakpointSm: 960px;
$breakpointMedium: 1312px;
$breakpointBig: 1600px;

$transitionDefault: 0.2s;
$transitionMedium: 0.4s;
$transitionLong: 0.5s;
