@import '../theme.scss';

%footer {
    background: $colorGrayDark;
    padding-bottom: 2rem;

    z-index: 200;

    @extend %mobile;

    a,
    li {
        color: $colorLightest;
        text-decoration: none;
        transition: $transitionDefault all;
        text-transform: uppercase;

        &:hover {
            color: $colorPrimary;
        }
    }

    a.mail {
        font-size: $fontSize14;
        text-transform: unset;
        font-weight: $fontWeightBold;
    }

    address {
        font-style: normal;
        font-size: $fontSize14;
        line-height: $lineHeight24;
        color: $colorLightest;
    }

    .columns {
        margin: 2rem auto;
        margin-top: 0;
        max-width: $contentMaxWidth;
        display: flex;
        justify-content: space-between;

        flex-direction: column;
        @media (min-width: $breakpointSm) {
            flex-direction: row;
            border-bottom: 1px solid $colorBlack;
        }
    }

    .clFooterColumn {
        flex: 1;

        @media (min-width: $breakpointSm) {
            margin: 2rem 0;
        }

        @media (max-width: $breakpointSm) {
            &:nth-child(1) {
                display: none;
                .columnTitle {
                    border-top: none;
                }
            }
        }

        .columnTitle {
            position: relative;
            color: $colorLightest;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: $fontSize14;
            font-weight: $fontWeightBold;
            text-transform: uppercase;
            transition: $transitionDefault all;
            margin: 0;
            padding: 1.5rem 1rem;

            svg {
                width: 1rem;
                height: 1rem;
                transition: $transitionDefault all;
                stroke: $colorLightest;
            }

            @media (min-width: $breakpointSm) {
                display: inline-flex;
                padding: 0;
                border-top: none;

                svg {
                    display: none;
                }
            }
        }

        a.columnTitle:hover {
            color: $colorPrimary;
        }

        .columnToggle {
            display: none;
        }
        .columnToggle:checked ~ .columnContent {
            max-height: 100vh;
            padding-bottom: 1rem;
            @media (min-width: $breakpointSm) {
                max-height: initial;
                padding-bottom: 0;
            }
        }
        .columnToggle:checked ~ label .columnTitle svg {
            transform: scaleY(-1);
        }

        label > h3 > span {
            line-height: $lineHeight24;
            margin-bottom: 0.5rem;
        }

        .columnContent {
            max-height: 0;
            overflow: hidden;
            transition: $transitionMedium all;
            border-bottom: 1px solid $colorBlack;

            > address > p {
                margin: 0;
            }

            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
                margin-left: 1rem;
            }

            li {
                font-size: $fontSize14;
                color: $colorLightest;
                line-height: $lineHeight24;
                margin: 1rem 0;

                &:first-child {
                    margin-top: 0;
                }
            }

            @media (min-width: $breakpointSm) {
                border-bottom: none;
                max-height: initial;
                overflow: initial;

                ul {
                    margin: 0;

                    li {
                        margin: 0;
                    }
                }
            }
        }
    }

    .end,
    .start {
        display: flex;
        align-items: center;
        margin: 0 auto;
        max-width: $contentMaxWidth;
        font-size: $fontSize14;
        padding-bottom: 2rem;

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            list-style-type: none;
        }

        a {
            &.logoLink {
                &:hover {
                    color: inherit;
                }
            }

            &:not(.logoLink) {
                margin: 0 1rem;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        .endLeft,
        .endMiddle,
        .endRight {
            flex: 1;
        }

        .endLeft {
            color: $colorLightest;
            display: flex;
            align-items: center;

            .contact-mobile {
                display: none;
            }
        }

        .endMiddle {
            text-align: center;
            a {
                margin: 0 0.5rem;
            }
        }

        .endRight {
            text-align: right;

            a {
                opacity: 1;
            }

            svg {
                display: inline;
                width: 1.4rem;
                height: 1.4rem;
                fill: $colorLightest;
                transition: $transitionDefault all;

                &:hover {
                    fill: $colorPrimary;
                }
            }
        }
    }

    .end {
        margin: 0 auto;
        padding: 2rem 0 0 0;
        @media (max-width: $breakpointSm) {
            flex-direction: column;

            .endLeft {
                order: 1;
                text-align: center;
                flex-direction: column;

                .contact-mobile {
                    display: block;
                    margin-bottom: 2rem;

                    a.mail {
                        margin: 0;
                    }
                }
            }

            .endMiddle {
                order: 3;
                text-align: left;
                display: flex;
                width: 100%;
                justify-content: space-around;

                a:first-child {
                    margin-left: 0;
                }

                a {
                    display: block;
                    margin: 0.5rem 0;
                }

                span {
                    display: none;
                }
            }

            .endRight {
                order: 2;
                text-align: center;
                padding: 2rem 0;
                margin: 0;
                width: 100%;
            }

            > div {
                margin-bottom: 1rem;

                &.endLeft {
                    margin-bottom: 0;
                }
            }
        }
    }
}