@import '../theme.scss';

/*
This stylesheet defines the basics of a fullwidth two column grid layout.
The right column is split into content and footer areas.
The right column's content width is also capped for larger screens.
On mobile the left column is toggleable.

For example implementations, check Brand or Wiki.

| ----
| ----
| ----
| ####
*/

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: minmax(280px, 10%) auto;
    grid-template-rows: auto 100px;
    background-color: $colorBodyBackground;
    width: 100vw;
    height: 100vh;

    aside {
        grid-row: 1 / span 2;
        background-color: $colorLightest;
        transition: $transitionDefault all;
        overflow: hidden;
        padding: 1rem 2rem;
    }

    main {
        background-color: $colorBodyBackground;
        max-width: $contentMaxWidth;
        padding: 1rem 2rem;
    }

    footer {
        grid-column: 2;
        background-color: $colorGrayDark;
        color: $colorLightest;
        padding: 1rem 2rem;
    }

    @media (max-width: $breakpointSm) {
        grid-template-columns: 0 100%;

        aside {
            position: relative;
            transform: translateX(-100%);
        }
    }
}